__pycache__
.vscode
.idea
.DS_Store
.git

backend/__pycache__
backend/.vscode
backend/.idea
backend/.DS_Store
backend/venv
backend/.venv
backend/logs
backend/*.db

frontend/__pycache__
frontend/.vscode
frontend/.idea
frontend/.DS_Store
frontend/node_modules
frontend/dist
frontend/.husky
frontend/.env.development
frontend/.env.production
frontend/src/types/auto-imports.d.ts
frontend/src/types/components.d.ts

devops/nginx/fastapp/dist
devops/nginx/fastdocs/dist
devops/nginx/frontend/dist
devops/nginx/ssl